<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a HotelPOO</title>

    <!--FOMT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!--FONT OSWALD-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
    </style>

    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div class="container">
        <nav class="nav-main">
            <img src="img/logo.jpg" alt="logo-hotel" class="nav-brand">
            <ul class="nav-menu">

                <li>
                    <a href="#">
                        Reservar habitacion
                    </a>
                </li>

                <li>
                    <a href="#">
                        Nuestras habitaciones
                    </a>
                </li>

                <li>
                    <a href="#">
                        Quienes somos
                    </a>
                </li>

            </ul>

            <ul class="nav-menu-right">
                <li>
                    <a href="#">
                        <i class="fas fa-user size">

                        </i>
                    </a>
                </li>

            </ul>

        </nav>

        <header class="showcase">
            <h2 HOTEL RG>
                <p>
                    Hoteleria de primera.
                </p>
            </h2>
        </header>

    </div>

</body>

</html>