*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #274E6C;
    color: white;
    background-color: #274E6C;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

a{
    color: aliceblue;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    background-color: #399681;

}

.nav-brand{
    width: 50px;
}

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 20px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid whitesmoke;
    color: #ffffff;
    outline: none;
    text-decoration: none;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 15px;
}

.nav-regis{
}


.hr{
    opacity: .0;
    margin: 10px 0;
}

.showcase{
    width: 100%;
    height: 400px;
    background: url("../img/principal.jpeg") no-repeat center center/cover;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    padding: 10px;
}

.showcase h2,
.showcase p{
    margin-bottom: 0.1px;
}


/*availability*/
.titulo{
    background-color: grey;
}

.tabla{
    border-collapse: separate;
    border-spacing: 15px;
    text-align: center;
}

.tit{
    text-decoration: underline beige;
}

.table{
    border-spacing: 15px;
    text-align: center;
}

















