<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reserva tu habitacion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--FONT OSWALD-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
    </style>
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <nav class="nav-main">
            <a href="/Users">
                <img src="../img/logo.jpg" alt="logo-hotel" class="nav-brand">
            </a>
            <ul class="nav-menu">

                <li>
                    <a href="/Bookings/availability">
                        Reservar habitacion
                    </a>
                </li>

                <li>
                    <a href="#">
                        Nuestras habitaciones
                    </a>
                </li>

                <li>
                    <a href="#">
                        Quienes somos
                    </a>
                </li>

            </ul>

            <ul class="nav-regis">

                <li>
                    <a><label   id="Users" th:text ="${firstName} + ' ' + ${lastName}" > </label></a>

                </li>
                <li>
                    <a href="/logout" methods="post" th:action="@{/logout}">
                        Logout
                    </a>
                </li>
            </ul>


        </nav>

            <div class="titulo" align="center"  >
                <h1 class="tit">Rooms Availability</h1>
                <br>
                <form id="form1" name="form1" action="#" th:action="@{/Bookings/availability}" th:object="${roomsAvailability}" method="post">

                    <label id="lbl1" name="lbl1">Check In</label>
                    <input id="txt1" required name="txt1" type="date" th:field="*{checkIn}"/>

                    <label id="lbl2"  name="lbl2">Check Out</label>
                    <input id="txt2" required name="txt2" type="date" th:field="*{checkOut}"/>

                    <label id="lbl3" name="lbl3">Occupancy</label>
                    <input id="txt3" required name="txt3" type="number" min="1" max="4" th:field="*{occupancy}"/>

                    <button type="submit" class="btn btn-primary">Check Availability</button>
                </form>

                <br>

                <table class="tabla">
                    <thead>
                        <tr>
                            <th>Room</th>
                            <th>Occupancy</th>
                            <th>Facilities</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${rooms.empty}">
                            <td colspan="4"> No Rooms Available</td>
                        </tr>
                        <tr th:each="room: ${rooms}">
                            <td><span th:text="${room.name}">Room </span></td>
                            <td><span th:text="${room.occupancy}">Occupancy</span></td>
                            <td><span th:text="${room.facilities}">Facilities</span></td>
                            <td><span th:text="${room.price}">Price</span></td>
                            <td>
                                <form action="#" th:action="@{/Bookings/new}" th:object="${Booking}" method="post">
                                    <input type="hidden" th:name="checkIn" th:value="${roomsAvailability.checkIn}"/>
                                    <input type="hidden" th:name="checkOut" th:value="${roomsAvailability.checkOut}"/>
                                    <input type="hidden" th:name="occupancy" th:value="${roomsAvailability.occupancy}"/>
                                    <input type="hidden" th:name="roomId" th:value="${room.id}"/>
                                    <button type="submit" class="btn btn-info">Book</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</body>

</html>