<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reserva tu habitacion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--FONT OSWALD-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
    </style>
</head>
<body style="background-color:#DCE775";>
<h1 align="center" >Reserva realizada!</h1>
<div align="center" style="background:#558B2F">
    <div>
        <h2>Su reserva se confirmo exitosamente! lo esperamos</h2>
    </div>
    <li>
        <a href="/Users">
            <button type="submit" class="btn btn-primary">Volver al Inicio</button>
        </a>
    </li>
</body>
</html>