<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mis Reservas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--FONT OSWALD-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
    </style>
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="/css/style.css">
</head>
    <body>
            <nav class="nav-main">
                <a href="/Users">
                    <img src="/img/logo.jpg" alt="logo-hotel" class="nav-brand">
                </a>
                <ul class="nav-menu">

                    <li>
                        <a href="/Bookings/availability">
                            Reservar habitacion
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Nuestras habitaciones
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Quienes somos
                        </a>
                    </li>
                    <li>
                        <a href="/Bookings/ConsultaReservas">
                            Consultá tus reservas!
                        </a>
                    </li>

                </ul>

                <ul class="nav-regis">

                    <li>
                        <a><label   id="Users" th:text ="${firstName} + ' ' + ${lastName}" > </label></a>

                    </li>
                    <li>
                        <a href="/logout" methods="post" th:action="@{/logout}">
                            Logout
                        </a>
                    </li>
                </ul>
            </nav>


        <div align="center" >
            <br>
            <h1 class="tit">Mis Reservas</h1>
            <div th:if="${listaReservas.empty}">
               No se encuentran reservas!
            </div>

            <div th:if="${listaReservas.size()>0}" class="container mt-4">
                <table class="table table-bordered table-dark table-sm">
                    <thead>
                    <tr>
                        <th>Check In</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${listaReservas.empty}">
                        <td colspan="4">No hay reservas echas!</td>
                    </tr>
                    <tr th:each="reservas: ${listaReservas}">
                        <td th:text="${#dates.format(reservas.checkIn,'dd-MMM-yyyy')}">Check in</td>
                        <td>
                            <a th:href="@{/Bookings/{id}/detalles(id=${reservas.getId()})}" class="btn btn-info">Detalles</a>
                            <a th:href="@{/Bookings/cancelar/{id}(id=${reservas.getId()})}" class="btn btn-danger">Cancelar</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a href="/Users" class="btn btn-primary" >Volver a inicio</a>
        </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>