<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reserva tu habitacion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!--FONT OSWALD-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
    </style>
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

            <nav class="nav-main">
                <a href="/Users">
                    <img src="../img/logo.jpg" alt="logo-hotel" class="nav-brand">
                </a>
                <ul class="nav-menu">

                    <li>
                        <a href="/Bookings/availability">
                            Reservar habitacion
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Nuestras habitaciones
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Quienes somos
                        </a>
                    </li>

                    <li>
                        <a href="/Bookings/ConsultaReservas">
                            Consultá tus reservas!
                        </a>
                    </li>


                </ul>

                <ul class="nav-regis">

                    <li>
                        <a><label   id="Users" th:text ="${firstName} + ' ' + ${lastName}" > </label></a>

                    </li>
                    <li>
                        <a href="/logout" methods="post" th:action="@{/logout}">
                            Logout
                        </a>
                    </li>
                </ul>


            </nav>
            <br>
            <div class="container">
                <div style="background-color: grey; text-align: center; height:500px">
                    <br>
                    <h1 style="text-decoration: underline beige; font-size:2.5rem">Nueva Reserva</h1>
                    <p>
                        <label>Precio</label>: <span th:text="${Booking.getRoomDTO().getPrice()}+'$'"></span>
                    </p>
                    <p>
                        <label>Habitacion</label>: <span th:text="${Booking.getRoomDTO().name}"></span>
                    </p>
                    <p>
                        <label>Check in</label>: <span th:text="${Booking.checkIn}"></span>
                    </p>
                        <label>Check out</label>: <span th:text="${Booking.checkOut}"></span>
                    <p>
                        <label>Ocupacion</label>: <span th:text="${Booking.occupancy}"></span>
                    </p>
                         <form action="#" th:action="@{/Bookings/confirm}" th:object="${Booking}" method="post">
                        <input type="hidden" th:field="${Booking.checkIn}"/>
                        <input type="hidden" th:field="${Booking.checkOut}"/>
                        <input type="hidden" th:field="${Booking.occupancy}"/>
                        <input type="hidden" th:name="roomId" th:value="${Booking.getRoomDTO().id}"/>
                             <h2>Desea algun servicio adicional?</h2>
                             <input type="checkbox" name="Desayuno"/>
                             <label>Desayuno(+100$)</label>
                             <input type="checkbox" name="Cochera"/>
                             <label>Cochera(+300$)</label>
                             <input type="checkbox" name="Cancelacion"/>
                             <label>Cancelacion Gratis(+200$)</label>
                             <br>
                             <button type="submit" class="btn btn-success">Siguiente</button>
                             <a href="/Users" class="btn btn-primary" >Cancelar Reserva</a>
                         </form>

                    <br>
                </div>
            </div>
</body>
</html>